* {
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
}

main {
	width: 100%;
	margin:0 auto;
}

section {
    background: url("img/your_verse_hero.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    background-position: bottom;
    position: relative;
	border :1px solid green;
	height: 800px;
}

nav {
	width:70%;
	margin: 30px auto;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

nav ul li {
	display: inline-block;
	border-right: 1px solid grey;
}

/* main section */

.grid-img {
	display: grid;
	grid-template-columns: repeat(4,auto);
	border :1px solid red;
	overflow: hidden;
}

.grid-img-item {
	width: 100%;
	height:35vmin;
}

.img-1 {
	background:url("img/promo_iphone5s.jpg");
	background-size: cover;
	background-position: bottom;
}

.img-2 {
	background:url("img/promo_iphone5c.jpg");
	background-size: cover;
	background-position: bottom;
}

.img-3 {
	background:url("img/promo_30_years.jpg");
	background-size: cover;
	background-position: bottom;
}

.img-4 {
	background:url("img/promo_supplier_responsibility.jpg");
	background-size: cover;
	background-position: bottom;
}
/* footer */

footer {
	width: 80%;
	margin: 0 auto;
	padding: 2rem;
	font-size: 1rem;
}

.sub-footer-flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.sub-footer-flex ul {
	list-style: none;
	margin-left: 7px;
}

.sub-footer-flex ul li {
	display: inline-flex;
	margin-left: 0.5rem;
	border-right: 1px solid grey;
	padding-right: 1rem;
	font-size: 0.6rem; 
}